body {
    background-color: #ffaf7a;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    padding: 5px;
    text-align: center;
    font-size: 40px;
}

.h1underline {
    font-size: 50px;
}

nav {
    background-color: #ff8b3d;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 3rem;
  }

nav a:hover {
    background-color: #ff6600;
  }

.active {
    background-color: #ff781f;
}

.hannah {
    max-width: 90%;
    vertical-align: middle;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

/* .imagediv img:hover {
    transform: scale(1.1);
  } */

main {
    padding: 20px;
    flex: 4;
}

.imagediv {
    text-align: center;
}

.sitepurposediv, .sitepurposediv2 {
    background-color: #ff8b3d;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff8b3d;
    padding: 20px;
    border: 1px solid black;
    display: inline-block;
    max-width: 40%;
}

.sitepurposediv2 {
    display: none;
}

footer {
    background-color: #ff8b3d;
    color: #000;
    text-align: center;
    padding: 10px;
    width: 100%;
    flex: 1;
  }

  .psize {
    font-size: 20px;
  }

  .changecenterfordiv {
    text-align: center;
    padding: 30px;
  }

  /* -----------------About Me-------------------- */

  .aboutmediv img {
    width: 400px;
    height: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Optional spacing between images */
  }

  /*
  .image1, .image3, .image5 {
    float: left;
    padding: 20px;
    margin-right: 10px;
  }

  .image2, .image4 {
    float: right;
  } */

    /* -----------------Extra-------------------- */

.container {
    border: 1px solid black;
    background-color: #FBECB1;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
    /*
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    */
    grid-row: 1 / 3;
    grid-column: 1 / 5;
}